<div class="header">
    <div class="container-header">
        <div class="title-logo">David.H <span>Arnaud</span></div>
        <div class="header-content">
          <nav class="menu exp">
            <a href="" class="menu-item"><span style="margin-right: 5px;"> <  </span> Services <span style="margin-left: 5px;"> > </span></a>
            <a href="" class="menu-item"><span style="margin-right: 5px;"> < </span> Works <span style="margin-left: 5px;"> > </span></a>
            <a href="" class="menu-item"><span style="margin-right: 5px;"> < </span> Notes <span style="margin-left: 5px;"> > </span></a>
            <a href="" class="menu-item"><span style="margin-right: 5px;"> < </span> Contact <span style="margin-left: 5px;"> > </span></a>
          </nav>
          <div class="logo-container">
            <a href="https://github.com/DH7789-dev" class="logo-git">
              <div class="logo-img"></div>
              <div class="title">GitHub</div>
            </a>
            <div class="contact">
              <div class="image-contact"></div>
            </div>
          </div>
        </div>
    </div>

</div>
