@import "../../../utils/sass/sizes";
.footer{
  background-color: #25262A;
  padding: 89px 90px 20px;
  @include tablet{
    padding: 47px 50px 40px;
  }
  @include mobile{
    padding: 47px 30px 40px;
  }
  .container-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    align-items: center;
    @include small-device{
      flex-direction: column;
      justify-content: inherit;
      margin-bottom: 0;
      align-items: flex-start;
    }
    .content-left{
      display: flex;
      flex-direction: column;
      .title-footer-left{
        font-size: 48px;
        line-height: 71px;
        color: #FFFFFF;
        max-width: 600px;
        margin-bottom: 77px;
        @include tablet{
          font-size: 48px;
          line-height: 71px;
          margin-bottom: 30px;
        }
        @include mobile{
          font-size: 18px;
          line-height: 26px;
          margin-bottom: 13px;
        }
      }
      .subtitle-footer-left{
        font-size: 48px;
        line-height: 71px;
        color: #FFFFFF;
        max-width: 540px;
        margin-bottom: 64px;
        @include tablet{
          margin-bottom: 45px;
        }
        @include mobile{
          font-size: 18px;
          line-height: 26px;
          margin-bottom: 25px;
        }
        span{
          color: #63F3AB;
        }
      }
    }
    .content-right{
      display: flex;
      flex-direction: column;
      .title-footer-right{
        font-size: 14px;
        line-height: 20px;
        color: #87888E;
        margin-bottom: 19px;
      }
      .subtitle-footer-right{
        font-size: 18px;
        line-height: 26px;
        color: #87888E;
        margin-bottom: 19px;
        @include mobile{
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 10px;
        }
      }
      .email{
        font-size: 24px;
        line-height: 35px;
        color: #FFFFFF;
        margin-bottom: 20px;
        @include mobile{
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 20px;
        }
      }
      .nav-bar{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        @include mobile{
          position: relative;
          left: 40px;
        }
        .item-nav{
          font-size: 17px;
          line-height: 19px;
          color: #FFFFFF;
          text-align: center;
          position: relative;
          left: -100px;
          margin-bottom: 20px;
          cursor: pointer;
          @include mobile{
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 20px;
          }
          span{
            display: none;
          }
          &:hover{
            color: #63F3AB;
            span{
              display: initial;
              color: #63F3AB;
            }
          }
        }

      }
    }
  }
  .content-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    @include small-device{
      flex-direction: column;
      justify-content: inherit;
      align-items: flex-start;
    }
    .mobile-flex{
      @include big-device{
        display: none;
      }
      @include small-device{
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      @include small-device{
        margin: 20px 0;
      }
      .title-bottom{
        font-size: 24px;
        line-height: 35px;
        color: #FFFFFF;
        margin-right: 57px;
        span{
          color: #87888E;
        }
      }
      .subtitle-bottom{
        font-size: 14px;
        line-height: 20px;
        color: #87888E;
        margin-right: 600px;
        @include small-device{
          margin-right: 0;
        }
      }
      .logo-bottom{
        margin-right: 45px;
        img{
          width: 30px;
          height: 30px;
        }
      }
    }
    .title-bottom{
      font-size: 24px;
      line-height: 35px;
      color: #FFFFFF;
      margin-right: 57px;
      &.desktop{
        @include big-device{
          display: initial;
        }
        @include small-device{
          display: none;
          justify-content: space-around;
          align-items: center;
        }
      }
      span{
        color: #87888E;
      }
    }
    .subtitle-bottom{
      font-size: 14px;
      line-height: 20px;
      color: #87888E;
      margin-right: 600px;
      &.desktop{
        @include big-device{
          display: initial;
        }
        @include small-device{
          display: none;
          justify-content: space-around;
          align-items: center;
        }
      }
    }
    .logo-bottom{
      margin-right: 45px;
      &.desktop{
        @include big-device{
          display: initial;
        }
        @include small-device{
          display: none;
          justify-content: space-around;
          align-items: center;
        }
      }
      img{
        width: 30px;
        height: 30px;
      }
    }
  }
}
