<div class="overlay">
    <div class="overlay-left">
        <div class="content-top">
            <div class="title-job">Full Stack Developer</div>
            <div class="subtitle-job">Talk is cheap .<br>Show me the code</div>
            <div class="paragraph-job">I design and code beautifully simple things, and I love  what I do.</div>
            <a class="button-chat">LET’S CHAT !</a>
        </div>
        <div class="content-bottom">
            <div class="content">
                <div class="number">4</div>
                <div class="paragraph">Years <br> Experiences</div>
            </div>
            <div class="content">
                <div class="number">20</div>
                <div class="paragraph">PROJECTS COMPLETED</div>
            </div>
        </div>
    </div>
    <div class="overlay-right">
        <div class="circle-first">
            <div class="images-me"></div>
            <div class="rotate">
                    <div class="skill first">
                        <img src="../../../assets/images/home/js.png" alt="js-image">
                    </div>
            </div>
            <div class="rotate">
                    <div class="skill second">
                        <img src="../../../assets/images/home/angular.png" alt="angular-image">
                    </div>
            </div>
            <div class="rotate">
                    <div class="skill third">
                        <img src="../../../assets/images/home/Laravel.png" alt="laravel-image">
                    </div>
            </div>
            <div class="rotate">
                    <div class="skill fourth">
                        <img src="../../../assets/images/home/python.png" alt="python-image">
                     </div>
            </div>
        </div>

    </div>
</div>
