.overlay{
  padding: 80px 100px;
  display: flex;
  justify-content: space-between;
  .overlay-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .content-top{
      display: flex;
      flex-direction: column;
      .title-job{
        padding: 3px 10px;
        border-radius: 5px;
        width: 210px;
        background-color: #63F3AB;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #000;
        margin-bottom: 30px;
      }
      .subtitle-job{
        font-size: 36px;
        line-height: 53px;
        max-width: 410px;
        color: #FFFFFF;
        margin-bottom: 46px;
      }
      .paragraph-job{
        font-size: 14px;
        line-height: 20px;
        color: #87888E;
        width: 300px;
        margin-bottom: 103px;
      }
      .button-chat{
        font-size: 18px;
        line-height: 21px;
        color: #63F3AB;
        text-decoration: underline #63F3AB;
      }
    }
    .content-bottom{
      display: flex;
      margin-top: 75px;
      flex-direction: row;
      justify-content: space-between;
      .content{
        display: flex;
        align-items: center;
        margin-right: 40px;
        .number{
          color: #FFFFFF;
          font-size: 36px;
          line-height: 42px;
          margin-right: 15px;
        }
        .paragraph{
          font-size: 14px;
          line-height: 20px;
          color: #87888E;
        }
      }
    }
  }
  .overlay-right{
    width: 50%;
    position: relative;
    .circle-first{
      width: 600px;
      height: 600px;
      background: rgba(58, 58, 58, 0.38);
      position: absolute;
      top: -82px;
      border-radius: 288px;
      border: 100px;
      .images-me{
        position: absolute;
        //background-image: url("../../../assets/images/home/me.png");
        background-size: cover;
        background-position: 50% 50%;
        width: 316px;
        height: 550px;
        left: 50%;
        top: 53%;
        transform: translate(-50%,-50%);
        border-radius: 50px;
      }
      .rotate{
          .skill{
            position: absolute;
            background: #252527;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 100px;
            img{
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%,-50%);
            }
          }
          .first{
            left: 387px;
            top: 416px;
            width: 200px;
            height: 200px;
            img{
              width: 131px;
              height: 125px;
            }
          }
          .second{
            left: -60px;
            top: 344px;
            width: 150px;
            height: 150px;
            img{
              width: 80px;
              height: 94px;
            }
          }
          .third{
            left: 513px;
            top: 140px;
            width: 120px;
            height: 120px;
            img{
              width: 61px;
              height: 57px;
            }
          }
          .fourth{
            left: 101px;
            top: 16px;
            width: 80px;
            height: 80px;
            img{
              width: 58px;
              height: 54px;
            }
          }
      }
      /*@-webkit-keyframes circle {
        from {
          -webkit-transform: rotateZ(0deg)
        }
        to {
          -webkit-transform: rotateZ(360deg)
        }
      }
      @-webkit-keyframes ccircle {
        from {
          -webkit-transform: rotateZ(360deg)
        }
        to {
          -webkit-transform: rotateZ(0deg)
        }
      }*/
    }
  }
}
.section-explain{
  padding: 200px 100px 0;
  background-color: #25262A;
  .container-explain{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    .explain-left{
      width: 50%;
      display: flex;
      flex-direction: column;
      .content-explain{
        cursor: pointer;
        background-color: #2D2E32;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(45, 46, 50, 0.25);
        -moz-box-shadow: 0px 0px 20px 0px rgba(45, 46, 50, 0.25);
        box-shadow: 0px 0px 20px 0px rgba(45, 46, 50, 0.25);
        border-radius: 5px;
        padding: 31px 45px;
        width: 533px;
        margin-bottom: 30px;
        transform: scale(1);
        transition: all 350ms ease-in-out;
        &:hover{
          transform: scale(1.2);
          .title-explain{
              color: #63F3AB;
          }
        }
        .title-explain{
          font-size: 24px;
          line-height: 35px;
          color: #FFF;
          margin-bottom: 16px;
        }
        .paragraph-explain{
          color: #87888E;
          font-size: 13px;
          line-height: 19px;
          margin-bottom: 32px;
        }
        .number-project{
          color: #FFF;
          font-size: 13px;
          line-height: 15px;
        }
      }
    }

    .explain-right{
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .container-explain-right{

        .title-explain-right{
          color: #87888E;
          font-size: 18px;
          line-height: 26px;
          margin-bottom: 21px;
          width: 445px;
        }
        .title-introduce{
          color: #FFFFFF;
          font-size: 36px;
          line-height: 53px;
          margin-bottom: 30px;
          width: 445px;
        }
        .subtitle-introduce{
          color: #FFFFFF;
          font-size: 24px;
          line-height: 35px;
          width: 448px;
          margin-bottom: 51px;
        }
        .paragraph-introduce{
          font-size: 18px;
          line-height: 26px;
          color: #87888E;
          width: 390px;
        }

      }
    }
  }
}
.section-company{
  padding: 200px 0 200px 80px;
  background-color: #25262A;
  .container-company{
    display: flex;
    flex-direction: row;
    align-items: center;
    .company-image{
      transform: scale(1);
      transition: all .3s ease-in-out;
      margin-right: 80px;
      &:nth-child(4n + 4){
        margin-right: 80px;
      }
      &:hover{
        transform: scale(1.1);
      }
      .img{
        max-width: 280px;
        max-height: 113px;
        width: 100%;
      }
    }
  }
}
.section-project{
  padding: 100px 0 0 80px;
  background-color: #25262A;
  display: flex;
  flex-direction: column;
  .title-project{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 113px;
    .title{
      color: #FFFFFF;
      font-size: 48px;
      line-height: 71px;
      margin-bottom: 43px;
    }
    .subtitle{
      color: #87888E;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 63px;
    }
  }
  .container-project{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    .content-project{
      transform: scale(1);
      transition: all .3s ease-in-out;
      margin-right: 80px;
      width: 498px;
      margin-bottom: 80px;
      height: 538px;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 20px;
      &:nth-child(2n + 2){
        margin-right: 80px;
      }
      &:hover{
        transform: scale(1.1);
        .content-techno-project{
          display: flex;
        }
      }
      .content-techno-project{
        display: none;
        padding: 100px 35px;
        flex-direction: column;
        background-color:rgba(80, 80, 80, 0.6);
        border-radius: 20px;
        height: 538px;
        .content-header{
          display: flex;
          justify-content: space-between;
          .title-techno-project{
            font-size: 24px;
            line-height: 35px;
            color: #FFFFFF;
            margin-right: 80px;
          }
          .container-techno{
            display: flex;
            position: relative;
            top: -60px;
            .title-techno{
              background-color: transparent;
              width: 76px;
              height: 25px;
              padding: 10px 7px;
              border-radius: 20px;
              margin-right: 10px;
              .techno{
                position: relative;
                top: -7px;
                font-size: 12px;
                line-height: 17px;
                text-align: center;
              }
            }
            .techno1{
              border: 3px solid #DC0000;
              color: #DC0000;
            }
            .techno2{
              border: 3px solid #48D890;
              color: #48D890;
            }
            .techno3{
              border: 3px solid #FF0000;
              color: #FF0000;
            }
            .techno4{
              border: 3px solid #41457B;
              color: #41457B;
            }
            .techno5{
              border: 3px solid #2f73bf;
              color: #2f73bf;
            }
          }
        }
        .paragraph-project{
          margin-top: 115px;
          color: #FFFFFF;
          font-size: 18px;
          line-height: 26px;
          text-align: center;
          width: 100%;

        }

      }
    }
    .project1{
      position: relative;
      top: 40px;
    }
    .project2{
      position: relative;
      top: -206px;
    }
    .project3{
      position: relative;
      top: -206px;
    }
    .all-project{
      margin-top: 69px;
      display: flex;
      flex-direction: column;
      margin-right: 302px;
      .title-all{
        font-size: 24px;
        line-height: 28px;
        color: #63F3AB;
        margin-bottom: 31px;
        text-decoration-line: underline;
      }
      .subtitle-all{
        font-size: 14px;
        line-height: 20px;
        color:  #87888E;
        max-width: 284px;
      }
    }
  }
}
.section-feedback{
  padding: 149px 80px;
  display: flex;
  flex-direction: column;
  .content-title-feedback{
    display: flex;
    position: relative;
    left: 200px;
    align-items: center;
    margin-bottom: 62px;
    .title-feedback{
      font-size: 36px;
      line-height: 53px;
      color: #FFFFFF;
      margin-right: 98px;
    }
    .subtitle-feedback{
      font-size: 14px;
      line-height: 20px;
      color: #87888E;
    }

  }
  .container-feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-me{
      background-color: #25262A;
      padding:33px 70px 50px;
      display: flex;
      flex-direction: column;
      max-width: 920px;
      margin-bottom: 67px;
      .content-icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 41px;
        .stars{
          display: flex;
          justify-content: flex-start;
          .checked{
            color: #63F3AB;
          }
        }
        .icon{
          display: flex;
          justify-content: flex-end;
          background-image: url("../../../assets/images/home/icon-about.svg");
          background-size: cover;
          background-position: 50% 50%;
          height: 79px;
          width: 73px;
        }
      }
      .about{
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
      }
    }
    .profil-container-about{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .profil-about{
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        .content-profil{
          display: flex;
          margin-right: 40px;
          margin-bottom: 22px;
          .image-profil{
            margin-right: 20px;
            background-color: #25262A;
            width: 60px;
            height: 60px;
            position: relative;
            border-radius: 50px;
            img{
              width: 59px;
              height: 59px;
              border-radius: 20px;
              top: -3px;
              position: absolute;
            }
          }
          .more-profil{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            position: relative;
            top: 10px;
            .name-client{
              font-size: 14px;
              line-height: 20px;
              color: #FFFFFF;
              margin-bottom: 4px;
            }
            .activity-client{
              font-size: 14px;
              line-height: 20px;
              color: #87888E;
            }
          }
        }
        .bar{
          width: 100%;
          background-color: #87888E;
          height: 3px;
        }
      }
    }
  }
}
.section-university{
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-university{
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    margin-bottom: 70px;
    position: relative;
    left: -280px;
  }
  .container-university{
    display: flex;
    flex-direction: column;

    .content-university{
      display: flex;
      margin-bottom: 100px;
      .date-university{
        font-size: 18px;
        line-height: 26px;
        color: #63F3AB;
        margin-right: 150px;
      }
      .title-certificate{
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
        span{
          color: #87888E;
        }
      }
    }
  }
}

